Pandas 2 types: series and dataframe
series - 1d array like one column in a table
df - 2d array 2 axels row and column

In [6]:
import pandas as pd
import numpy as np
data = np.array([1,2,3,4,5])
series = pd.Series(data)
print(series)

#or 
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data  = {'a':1,'b':2,"c":3}
series = pd.Series(data)
print(series)
#for dictionaries pandas converts it index:value format

a    1
b    2
c    3
dtype: int64

In [9]:
#can also map index:value with lists
data = [1,2,3]
index = [0,'b',2]
series = pd.Series(data,index)
print(series)

0    1
b    2
2    3
dtype: int64

In [25]:
#indexes will always be present
#dataframe

# pd.DataFrame(data)#2d
#list of dictionaries, dictionary, 
data = [
    {
    "Name":"Abhinav",
    "Age":51,
    },
    {
    "Name":"Aadsd",
    "Age":5132,
    },
    {
    "Name":"avddvdA",
    "Age":532,
    },
]
df = pd.DataFrame(data)
# df = pd.read_csv()
# df.head(5) #top 5
# df.tail(5) #bottom 5

In [ ]:
df["Name"][0]
df.loc[0] #row index
df.iloc[0] # col index
# df.at["Name",]
df.at[1,'Age'] #by label
df.iat[0,1] #both indexes

np.int64(51)

In [ ]:
# data = 
df = pd.DataFrame([
    {"Name": "Abhin","Age":25,"City":"Bangalore"},
    {"Name": "jin","Age":35,"City":"Yok"},
    {"Name": "bob","Age":40,"City":"chennai"},
])
df

    Name  Age       City
0  Abhin   25  Bangalore
1    jin   35        Yok
2    bob   40    chennai

In [44]:
df

    Name  Age       City  salary
0  Abhin   24  Bangalore    5000
1    jin   35        Yok    3000
2    bob   40    chennai    2000

In [45]:
#data manipulation
# df["Age"][0] = 24
# df["salary"] = [5000,3000,2000]
# df.drop('salary')#wont work as checks row index firt
# df.drop('salary',axis = 1)#wont save state so inplant
df.drop('salary',axis = 1,inplace=True)

In [49]:
df

    Name  Age       City
0  Abhin   25  Bangalore
1    jin   36        Yok
2    bob   41    chennai

In [47]:
df["Age"] = df["Age"]+1

In [ ]:
#statistically
# df.dtypes #gives every column data type
df.describe()#-> describes everything like count, mean, std...

             Age
count   3.000000
mean   34.000000
std     8.185353
min    25.000000
25%    30.500000
50%    36.000000
75%    38.500000
max    41.000000