In [2]:
import sqlite3

In [4]:
#create a db locally
connection = sqlite3.connect("example.db")

In [5]:
#we need a cursor always to go around the db
cursor = connection.cursor()

In [ ]:
#Primary key is a must, it will add a unique integer value if not assigned by user
# not null to say that col should have a value
cursor.execute('''
    Create table If Not Exists employees(
    id Integer Primary Key, 
    name Text Not Null,
    age Integer,
    department text
)
''')
#Need to commit changes to the db to show
connection.commit()

In [8]:
cursor.execute('''
    Select * from employees
''')

In [25]:
##insert data
cursor.execute('''
Insert Into employees(name,age,department)
               values("Ram",34,"IT")

''')
connection.commit()

In [28]:
cursor.execute('''
    Select * from employees
''')
rows = cursor.fetchall()
print(rows)

[(1, 'Abhi', 24, 'IT'), (2, 'Abhi', 24, 'IT'), (3, 'Abhi', 24, 'IT'), (4, 'Abhi', 24, 'IT'), (5, 'Ram', 24, 'IT'), (6, 'Ram', 24, 'IT')]

In [27]:
#update the table
cursor.execute('''
Update employees
Set age=24
where name="Ram"          
''')

In [ ]:
#delete

[]