In [2]:
import sqlite3

In [4]:
#create a db locally
connection = sqlite3.connect("example.db")

In [5]:
#we need a cursor always to go around the db
cursor = connection.cursor()

In [ ]:
#Primary key is a must, it will add a unique integer value if not assigned by user
# not null to say that col should have a value
cursor.execute('''
    Create table If Not Exists employees(
    id Integer Primary Key, 
    name Text Not Null,
    age Integer,
    department text
)
''')
#Need to commit changes to the db to show
connection.commit()

In [8]:
cursor.execute('''
    Select * from employees
''')

In [25]:
##insert data
cursor.execute('''
Insert Into employees(name,age,department)
               values("Ram",34,"IT")

''')
connection.commit()

In [34]:
cursor.execute('''
    Select * from sales
''')
rows = cursor.fetchall()
print(rows)

[(1, '2024-06-01', 'Laptop', 10, 'North'), (2, '2024-06-02', 'Tablet', 5, 'South'), (3, '2024-06-03', 'Phone', 15, 'East'), (4, '2024-06-04', 'Monitor', 7, 'West')]

In [27]:
#update the table
cursor.execute('''
Update employees
Set age=24
where name="Ram"          
''')

In [29]:
#delete
cursor.execute('''
Delete from employees
               where name = 'Abhi'

''')

connection.commit()

In [37]:

connection.close()

In [ ]:

##sales data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()
cursor.execute('''
Create table if not exists sales(
    id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text
               
               )

''')
sales_data = [('2024-06-01', 'Laptop', 10, 'North'),
        ('2024-06-02', 'Tablet', 5, 'South'),
        ('2024-06-03', 'Phone', 15, 'East'),
        ('2024-06-04', 'Monitor', 7, 'West')]
#Execute many for adding n number of rows in the dataset instead of only one
connection.executemany('''
INSERT INTO sales (date, product, sales, region) VALUES (?, ?, ?,?)
''',sales_data)
# --> 20 connection.execute('''
#      21 INSERT INTO sales (date, product, sales, region) VALUES (?, ?, ?,?)
#      22 ''',sales_data)

# InterfaceError: Error binding parameter 0 - probably unsupported type.

KeyboardInterrupt: